div.user-card-field{
    max-width: 400px;
}
input[type=submit].user-forgot-password{
    background: rgb(66,225,152);
    background: linear-gradient(-45deg, rgba(66,225,152,1) 0%, rgba(123,129,227,1) 81%, rgba(123,129,227,1) 250%);
}